<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>admin-home</title>
    <link rel="stylesheet" type="text/css" href="/css/rd_index.css">
    <link rel="stylesheet" type="text/css" href="/css/rd_home.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</head>
<body>

<div class="container">
    <div class="container">
        <div class="navigation">
            <ul>
                <li onclick="pass_value()">
                    <a th:href="@{/rd/index}">
                        <span class="icon"><ion-icon name="diamond"></ion-icon></span>
                        <span class="title">Best ERP</span>
                    </a>
                </li>

                <li class="home" onclick="pass_value()">
                    <a th:href="@{/rd/home}" class="home-a">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Home</span>
                    </a>
                </li>

                <li class="new-page-1" onclick="pass_value()">
                    <a th:href="@{/rd/work_list}" class="new-page-1-a">
                        <span class="icon"><ion-icon name="calendar-outline"></ion-icon></span>
                        <span class="title">work list</span>
                    </a>
                </li>

                <li class="new-page-2" onclick="pass_value()">
                    <a th:href="@{/rd/member}" class="new-page-2-a">
                        <span class="icon"><ion-icon name="add-outline"></ion-icon></span>
                        <span class="title">member</span>
                    </a>
                </li>

                <li class="food" onclick="pass_value()">
                    <a th:href="@{/rd/food}" class="food-a">
                        <span class="icon"><ion-icon name="fast-food-outline"></ion-icon></span>
                        <span class="title">food</span>
                    </a>
                </li>

                <li class="logout">
                    <a th:href="@{/logout}" class="logout">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">logout</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main">
            <div class="topbar">
                <div class="bar-toggle">
                    <ion-icon name="list-outline"></ion-icon>
                </div>
                <!--search-->
                <!--                <div class="search">-->
                <!--                    <label>-->
                <!--                        <input type="text" placeholder="accounting">-->

                <!--                    </label>-->
                <!--                    <div class="search-icon">-->
                <!--                        <ion-icon name="search-outline"></ion-icon>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!-- users-->
                <div class="users">
                    <img th:src="*{headShot}">
                </div>
            </div>

            <div class="page-center">
                <div class="center-box">
                    <h1>公告欄</h1>
                    <!--                <span th:if="${pass}" th:text="pass"></span>-->
                    <!--                <span th:if="${no}" th:text="pass"></span>-->
                    <!--                <button th:if="${pass}">pass</button>-->
                    <!--                <button th:if="${no}">pass</button>-->
                    <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=Asia%2FTaipei&showDate=1&showNav=1&showTitle=0&showPrint=0&showCalendars=0&showTz=0&showTabs=0&src=YmVzdC5lcnAueWFuQGdtYWlsLmNvbQ&src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&src=emgtdHcudGFpd2FuI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%2333B679&color=%230B8043"
                            style="border-width:0" width="80%" height="80%" frameborder="0" scrolling="no"></iframe>
                    <!--<form th:action="@{/button}" method="post" th:object="${users}">-->
                    <!--                    <input type="text" th:placeholder="${users.getUserName()}">-->
                    <!--                    <button type="submit" >test</button>-->
                    <!--                </form>-->
                </div>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="topbar">
            <div class="bar-toggle">
                <ion-icon name="list-outline"></ion-icon>
            </div>
            <!--search-->
            <!--                <div class="search">-->
            <!--                    <label>-->
            <!--                        <input type="text" placeholder="accounting">-->

            <!--                    </label>-->
            <!--                    <div class="search-icon">-->
            <!--                        <ion-icon name="search-outline"></ion-icon>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!-- users-->
            <div class="users">
                <img th:src="*{headShot}">
            </div>
        </div>

        <div class="page-center">
            <div class="center-box">
                <div style="overflow: auto;padding: 10px">
                    <div style="text-align: center; margin-bottom: 1%">
                        <h1>公告欄</h1>
                        <div id="add_bulletin_board_btn"></div>
<!--                        <input type="button" value="新增公告">-->
                    </div>
                    <div style="display: flex">
                        <div style="width: 43vw;height:75vh; border: 3px solid #999999;margin-right: 1%;border-radius: 10px">
                            <div id="bulletin_board" style="width: 100%; height: 100%;padding: 5px;overflow: auto">
                                <!--                                <table>-->
                                <!--                                    <thead onclick="shows()">-->
                                <!--                                    <th>123</th>-->
                                <!--                                    <th>123</th>-->
                                <!--                                    <th>123</th>-->
                                <!--                                    </thead>-->
                                <!--                                </table>-->
                                <!--                                <div class="bbbox"></div>-->

                            </div>
                        </div>
                        <div style="width: 33vw;height:75vh;">
                            <div id="work-bar-graph"
                                 style="width: 100%; height: 100%; border: 3px solid #999999;border-radius: 10px;margin-bottom: 2% "></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<!--<form id="myForm" enctype="multipart/form-data" method="post">-->
    <div>
        <!--    <form th:action="@{/admin/new-page-2/save}" method="post" th:object="${addUser}">-->
        <!--        <input id="id" type="hidden" th:field="*{id}">-->
        <div class="cover">
            <div class="cover-center">
                <div style="margin-top: 10px;padding:0 100px">
                    <input type="hidden" id="id">
                    <div class="cover_table_jub_title">
                        <label class="cover_table_label">Title :</label>
                        <input id="job_title" class="cover_table_input abc" type="text" placeholder="job title">
                    </div>

                    <div class="cover_table_priority">
                        <label class="cover_table_label">Priority :</label>
                        <input id="priority" type="text" class="cover_table_select abc" readonly="readonly">
                    </div>

                    <div class="cover_table_date">
                        <label class="cover_table_label">Date:</label>
                        <input id="date" class="cover_table_input abc" type="date">
                    </div>

                    <div class="cover_table_illustrate">
                        <label class="cover_table_label">Center:</label>
                        <textarea id="illustrate" class="cover_table_input_illustrate abc"></textarea>
                    </div>

                    <div class="cover_table_button">
                        <button type="submit" class="cover_table_button_save" onclick="upload_work_list()">save</button>
                        <button type="button" class="cover_table_button_back" onclick="clear_add_bulletin_board()">back</button>
                    </div>
                </div>
            </div>
        </div>
        <!--    </form>-->
    </div>
<!--</form>-->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.staticfile.org/echarts/4.3.0/echarts.min.js"></script>
<script src="/js/content_page_rd.js"></script>
<script src="/js/rd/rd_home_config.js"></script>
<script src="/js/rd/rd_home_manager.js"></script>
<script src="/js/rd/rd_home_user.js"></script>
<script>



    $.ajax({
        type:'GET',
        url:'/rd/home/is_manager',
        async:false,
        success:function (is_manager){
            if (is_manager){
                show_manager_home()
            }else{
                show_user_home()
            }
        }
    });


    $.ajax({
        type: 'GET',
        url: '/rd/home/get_work_data',
        async: true,
        dataType: 'json',
        processData: false,
        contentType: false,
        success: function (data) {
            console.log(data)

            // let work_priority = JSON.parse(JSON.stringify(data))['workPriority'];
            let work_done = JSON.parse(JSON.stringify(data))['doneWorkMap'];
            let work_undone = JSON.parse(JSON.stringify(data))['undoneWorkMap'];

            // console.log(work_priority)
            console.log(work_done)
            console.log(work_undone)



            // pei_chart.setOption(pei_chart_option);
            // pei_chart.setOption(time_out);

            var work_bar_graph = document.getElementById('work-bar-graph');
            var myChart = echarts.init(work_bar_graph);
            var option;

            let work_priority=[]
            let work_done_list = [];
            let work_undone_list = [];
            for(let priority in work_done){
                console.log(typeof priority)
                let n =parseInt(priority,10) + 1
                work_priority.push(n);
                work_done_list.push(work_done[priority]);
                work_undone_list.push(work_undone[priority]);
            }
            option = {
                title: {
                    text: '工作進度總表'
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                legend: {},
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                xAxis: {
                    type: 'value',
                    boundaryGap: [0, 1]
                },
                yAxis: {
                    type: 'category',
                    data: work_priority
                },
                series: [
                    {
                        name: '未完成',
                        type: 'bar',
                        data: work_undone_list
                    },
                    {
                        name: '完成',
                        type: 'bar',
                        data: work_done_list
                    }
                ]
            };

            option && myChart.setOption(option)
        },
        error: function (error) {
            console.log(error)
        }
    })


</script>
</body>
</html>